body{
    background-color: rgb(212, 212, 212);
    font-family: 'Courier New', Courier, monospace;
}

#homestyle{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

#intro{
    margin-top: 5vh;
    text-align: center;
}

#itemList{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-left: 2vw;
    justify-content: space-evenly;
    text-align: center;
}

#uList{
    padding: 5vh;
    border-width: 100px;
    background-color: rgb(183, 234, 251);
    border-radius: 3vh;
    /* border: 5px solid rgb(183, 234, 251); */
    
}

#cList{
    padding: 5vh;
    background-color: rgb(183, 234, 251);
    border-radius: 3vh;

}

.userListItem{
    text-decoration: none;
    color:black;
}

.userListItem:hover{
    text-decoration: none;
    color:rgb(253, 214, 19);
    font-weight: bolder;
}

.coinListItem{
    text-decoration: none;
    color:black;
}

.coinListItem:hover{
    text-decoration: none;
    color:rgb(115, 200, 109);
    font-weight: bolder;
}

#searchBar{  
    margin-left: 8vw;
}

#coinP{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.cItem{
    text-align: center;
    font-size: small;
}

.cButton{
    text-decoration: none;
    color: black;
}

.selectB{
    width: 20vw;
}